
.header {
    margin-top: .5rem;
    padding-left: 30px;
  }
  
  .header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    padding-top: 15%;
  }
  
  .header ul li:hover {
    background-color: #444;
  }
  
  .header a:hover {
    text-decoration: none;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

  .gradient-text a {
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgb(226, 34, 34) 33%, rgb(255, 166, 166) 40%, rgb(7, 87, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
  }
  
  .gradient-text a:hover {
    background: linear-gradient(45deg, rgb(0, 23, 235) 33%, rgb(155, 178, 255) 40%, rgb(255, 13, 13));
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }


